<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Thessaloniki Global Azure Bootacmp</div>
            <div class="intro-heading">Let's be part of the global community for one day</div>
            <a href="#subjects" class="page-scroll btn btn-xl">More Info</a>
        </div>
    </div>
</header>

<!-- Azure Bootcamp Section -->
<section id="bootcamp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Azure Bootcamp</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-3">
                <a href="http://global.azurebootcamp.net/">
                    <img class="img-centered img-responsive" src="~/Content/images/2015-logo_front.png" alt="Globa Azure Bootcamp 2015" />
                </a>
            </div>
            <div class="col-md-7 col-sm-9">
                <a href="http://global.azurebootcamp.net/">Azure Global Bootcamp</a>
                is an event that is organized the last years by local communities over the globe.
                It is an one day of deep dive class to help people get up to speed on developing Cloud Computing Applications for Azure.
                In addition to this great learning opportunity we will have another set of hands on labs.
            </div>
        </div>
    </div>
</section>

<!-- Subjects Section -->
<section id="subjects">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Subjects</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Introduction to Microsoft Azure</h4>
                <p class="text-muted">
                    During the event an extensive introduction about Microsoft Azure will take place.
                    We will try to cover most of the platform's popular features.  
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Going beyond the basics</h4>
                <p class="text-muted">
                    After the introduction we will present some more advanced characteristics.
                    On top of this we are going to explore how a real application on Microsoft Azure looks like.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Building a real application</h4>
                <p class="text-muted">
                    The ultimate goad of the event is to delve into writing code for the Azure.
                    So half of the time of the event will be a workshop where we will build an application that uses the platform. 
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Sessions Section -->
<section id="sessions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sessions</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/200/200/business/8/" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>9:00 - 10:15</h4>
                                <h4 class="subheading">First session</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Short description for the first session</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/200/200/business/8/" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>10:30 - 11:45</h4>
                                <h4 class="subheading">Second session</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Short description of second session</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/200/200/business/8/" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>12:00 - 13:15</h4>
                                <h4 class="subheading">Third Session</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Short description of third session</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/200/200/business/8/" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>14:30 - 15:45</h4>
                                <h4 class="subheading">Fourth Session</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Short description of fourth session</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/200/200/business/8/" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>16:00 - 17:00</h4>
                                <h4 class="subheading">Fifth Session</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Short description of fifth session</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>